*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mypro{
    text-transform: capitalize;
    font-weight:  bold;
    font-size: 25px;
    margin: 10px;
    margin-top: 10px;
}
.project{
    margin: 20px;
    margin-bottom: 20px;
}
.thumbnail{
    margin: auto;
    text-transform: capitalize;
    color: gray;
}
.thumbnail img{
    width: 270px;
    height: 160px;
    border-radius: 10px;



    --g: 4px;     /* the gap */
    --b: 8px;    /* border thickness*/
    --c: #669706; /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  }
  img:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }