@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
    overflow-x: hidden;
}